doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Pac-Man
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 Primitive Pac-Man

    button#start Start
    table#board
      - for(var i=0; i<3; i++)
        tr
          - for(var k=0; k<2; k++)
            td(data-x=k, data-y=i)

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/main.js')
